@charset "UTF-8";
/*Configuracoes da imagem de fundo*/
body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("_imagens/fundo.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    height: 100vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}


/*Configuracoes gerais*/
p{
    font-family: 'Fenix', serif;
    font-size: 15pt;
    color: #ffffff;
}

a#cadastrar{
    color: #ffffff;
}


/*Tirar spin button do numbers nos navegadoress Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Nome do site */
header#cabecalho {
	border-bottom: 1px solid #ffffff;
	height:100px;
}

header#cabecalho h1{
	font-size: 40pt;
	font-family: 'Fenix', serif;
	color: #ffffff;
	position: absolute;
	top: 4%;
	right:3%;
	transform: translate(0%,-50%);
	text-transform:uppercase;
}

/*Configuracoes Forms*/
form {
	width: 550px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
}

input{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover{
	background-color: #c0bfbfc5;
}

legend {
	color: #fffefe;
	font-size: 23pt;
    font-family: 'Fenix', serif;
}

/*Configuracoes dos fieldset*/

fieldset {
	border-color: #cecece;
    margin: 20px;
}


.bt {
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}

.bt-acessar {
    border-color:#eb9b48;
    background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
    box-shadow:inset 0px 1px 0px 0px #fdf7f0;
    color:#333;
    text-shadow:0px 1px 0px #ffee66;
    width: 80px;

}


/*Responsividade para Tablet*/
@media only screen and (max-device-width: 1100px) {
    /*Configuracoes Forms*/
    form {
        width: 850px;
    }
    /*Ajustes de tamanho*/
    input,legend,.bt,p,a{
        font-size: 25pt;
    }

    .bt{
        width: 200px;
    }
}


/*Responsividade para Tablet*/
@media only screen and (max-device-width: 700px) {
    /*Configuracoes Forms*/
    form {
        width: 100%;
    }
    
    /*Ajustes de tamanho*/
    input,legend,p,a{
        font-size: 45pt;
    }

    .bt{
        width: 250px;
        font-size: 35pt;
    }

    /*Configuracoes de Cabecalho*/
    header#cabecalho {
        border-bottom: 1px solid #ffffff;
        height:150px;
    }

    header#cabecalho h1{
        top: 2%;
        font-size: 60pt;
    }

}