@charset "UTF-8";
/*Configuracoes Gerais*/

*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

.geral {
	display: flex;
	align-items: center;
    min-height:100%;
    width:100%;
}

p{
	text-align: justify;
	text-indent: 50px;
}


/*Formatacao da Interface e do Cabecalho*/
div#interface{
	margin: -30px auto -10px auto;
	width: absolute;
	padding: 10px 10px 10px 10px;
}


header#cabecalho {
	border-bottom: 1px solid #000000;
	height:120px;
	background-color: #FFFFFF;  
}

header#cabecalho h1{
	font-size: 40pt;
	font-family: 'Fenix', serif;
	color: #000000;
	position: absolute;
	top: 50px;
	right: 50px;
	transform: translate(0%,-50%);
	text-transform:uppercase;
}

header#cabecalho img#poli{
	position: absolute;
	padding: 5px;
	top: 2px;
}

header#cabecalho img#chapeu{
	position: absolute;
	padding: 5px;
}

/*Formatacao da faixa de cor azul claro*/
div#azul {
	display: block;
	height: 10px;
	background-color: #64C4D2
}

/*Formatacao da faixa de cor amarelo*/
div#amarelo {
	display: block;
	height: 10px;
	background-color: #FCB421
}


/*Formatacao da cor escura*/
div#escuro {
	display: block;
	height: 15px;
	background-color: #1094AB;
	text-align: right;
	font-size: 10px;
	padding-right: 3px;
}

/*Botao de logout*/
#logout{
	font-family: verdana;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#logout :hover{
	text-decoration: underline;
}

/* Formatacao da <tabela>*/
div#dados{
	align-self: center;
	justify-content: center; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#dados td{
	text-align: center;
}

div#dados td#materia{
	width: 350px;
	height:40px;
}

div#dados td#notas{
	width: 120px;
}

div#dados td#p3{
	width : 400px;
}

/*Configuracao do corpo*/
section#corpo {
	display: flex;
	width: 100%;
	justify-content: center;
	justify-items: center;
	text-align: center;
	margin: auto 0;
	align-items: center;
	height: calc(100vh - 80px - 35px - 31px);
}

section#corpo p{
	font-size: 10pt;
	font-family: arial;
	margin-right: 10px;	
}

/*Formatacao do Rodape*/
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
	background-color: #FCB421;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	height: 30px;
}

footer#rodape p{
	font-family: arial;
	color: #FFFFFF;
	font-size: 14px;
	padding-bottom: 10px;
    margin-bottom: 0;
}

/*Formatacao para tablets*/
@media only screen and (max-device-width: 1100px) {
	/*Formatacao da tabela*/
	#dados{ 
		display: flex;
		font-size: 20pt;
		margin-bottom: 80px;
		margin-top: 200px;
	}
	
	/*Configuracao do corpo*/
	section#corpo {
		height: calc(100vh - 40px - 31px);
	}

	/*Cabecalho*/
	header#cabecalho img#poli{
		width: 130px;
	}
	
	header#cabecalho img#chapeu{
		width: 120px;
		padding: 1%;
	}

	header#cabecalho {
		height:180px;
	}
	
	header#cabecalho h1{
		font-size: 65pt;
		top: 85px;
	}

	#logout{
		font-size: 20px;
	}

	/*Formatacao das cores do cabecalho*/
	div#azul {
		height: 20px;
	}

	div#amarelo {
		height: 20px;
	}	

	div#escuro {
		height: 25px;
	}

	/*Formatacao do footer*/
	footer#rodape {
		height: 50px;
	}

	footer#rodape p{
		font-size: 45px;
	}
}

/*Formatacao para celulares*/
@media only screen and (max-device-width: 700px) {
	/*Formatacao dados da tabela*/
	div#dados{ 
		margin-top: 500px;
		font-size: 25pt;
		margin-bottom: 50px;
	}

	div#dados td#materia{
		height: 150px;
	}
	
	div#dados td#notas{
		height: 150px;
	}

	div#dados td#p3{
		height: 150px;
	}
	
	/*Formatacao do Cabecalho*/
	header#cabecalho {
		height:150px;  
	}

	header#cabecalho h1{
		font-size: 50pt;
		top: 70px;
		right: 90px;
	}
	
	header#cabecalho img#poli{
		width: 110px;
	}
	
	header#cabecalho img#chapeu{
		width: 120px;
		padding: 0px;
	}

	

	/*Formatacao do footer*/
	footer#rodape {
		height: 40px;
	}

	footer#rodape p{
		font-size: 35px;
	}

	/*Formatacao dispositivos pequenos*/
	@media only screen and (max-device-width: 500px) {
		div#dados{ 
			font-size: 20pt;
		}
	}
}
