@charset "UTF-8";
body {
    background-image: url("_imagens/provas.jpg") ;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


@charset "UTF-8";

/*Configuracoes Gerais*/

form {
	width: 500px;
	margin:auto;
}

input{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover{
	background-color: #dddddd;
}

legend {
	color: #fffefe;
	font-size: 23pt;
	font-family: 'Fenix', serif;
}

/*Configuracoes dos fieldset*/

fieldset {
	border-color: #cecece;
    margin: 20px;
}

p{
    font-family: 'Fenix', serif;
    font-size: 15pt;
}
