@charset "UTF-8";
/*Configuracoes Gerais*/
p{
	text-align: justify;
	text-indent: 50px;
}


/*Formatacao da Interface e do Cabecalho*/
div#interface{
	margin: -30px auto -10px auto;
	width: absolute;
	padding: 10px 10px 10px 10px;
}


header#cabecalho {
	border-bottom: 1px solid #000000;
	height:100px;
	background-color: #FFFFFF;  
}

header#cabecalho h1{
	font-size: 40pt;
	font-family: 'Fenix', serif;
	color: #000000;
	position: absolute;
	top: 4%;
	right:3%;
	transform: translate(0%,-50%);
	text-transform:uppercase;
}

header#cabecalho img#poli{
	position: absolute;
	top: 2px;
}

/*Formatacao da faixa de cor azul claro*/
div#azul {
	display: block;
	height: 10px;
	background-color: #64C4D2
}

/*Formatacao da faixa de cor amarelo*/
div#amarelo {
	display: block;
	height: 10px;
	background-color: #FCB421
}


/*Formatacao da cor escura*/
div#escuro {
	display: block;
	height: 15px;
	background-color: #1094AB
}

/* Formatacao da main <tabela>*/
main#dados{
	display: block;
	position: absolute;
	position: absolute;
    left: 50%;
    top: 50%; 
	transform: translate(-50%,-50%);
	width: 800px; 
}

/*Configuracao do corpo*/
section#corpo {
	display: block;
	float: left;
	height: 500px;
}

section#corpo p{
	font-size: 10pt;
	font-family: arial;
	margin-right: 10px;	
}

/*Formatacao do Rodape*/
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
	background-color: #FCB421
}

footer#rodape p{
	font-size: 10pt;
	font-family: arial;
	color: #FFFFFF;
	font-size: 14px;
    text-align: justify;
    padding-bottom: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
	main#dados{
		width: 500px; 
	}

	header#cabecalho h1{
		font-size: 30pt;
	}

}